<html>
  <head>
    <title>Página de sobre</title>
  </head>
  <body>
    <h1>Sobre</h1>
    <p>Descrição da empresa</p>
    <a href="/products">Acessar produtos</a>
  </body>
</html>

<!-- Criem o arquivo about.ejs na pasta views -->