<!DOCTYPE html>
<html>
  <head>
    <title>pagina de produtos</title>
  </head>
  <body>
    <h1>Produtos</h1>
    <a href="/about">Acessar Sobre</a>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png" 
      height="200px"
      width="20%"
      alt="Magalu em frente a loja da magazine luiza" 
    />
    <p>
      Meu nome é: <strong>Vitor</strong>
      <br>
      Idade: <strong>25</strong>
      <br>
      Estado civil: <strong>Casado</strong>
    </p>
    <h3>Qualidades</h3>
    <!-- 
      ul = unordered list = lista não ordenada
     -->
    <ul>
      <li>Jogo bem video game</li>
      <li>Sou programador</li>
    </ul>
    <!-- 
      ol = ordered list = lista ordenada
     -->
     <ol>
      <li>Sei cozinhar</li>
      <li>Sei jogar bola</li>
     </ol>
  </body>
</html>