<!DOCTYPE html>
<html>

<head>
  <title>pagina de produtos</title>
  <link rel="stylesheet" href="stylesheets/products.css">
</head>

<body>
  <header>
    <div class="logo">
      Nosso logo
    </div>
    <a href="/products">Produtos</a>
    <a href="/about">Acessar Sobre</a>
  </header>
  <h1>Produtos</h1>
  <section class="register">
    <form action="post">
      
    </form>
  </section>

</body>

</html>