<!DOCTYPE html>
<html>

<head>
  <title>pagina de produtos</title>
  <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<body>
  <header>
    <a href="/products">Produtos</a>
    <a href="/about">Acessar Sobre</a>
  </header>
  <h1>Produtos</h1>
  <main>
    <h2>Cadastro de produtos</h2>

    <form>
      <div>
        <label for="name">Nome do produto:</label>
        <input name="name" id="name" type="text">
      </div>
      <div>
        <label for="price">Preço do produto:</label>
        <input name="price" id="price" type="number">
      </div>
      <div>
        <div>
          <label>Tipo de produto:</label>
        </div>

        <input type="radio" name="type" id="eletronic">
        <label for="eletronic">Eletronico</label>

        <input type="radio" name="type" id="food">
        <label for="food">Alimenticio</label>

        <input type="radio" name="type" id="drugs">
        <label for="drugs">Farmaceutico</label>
      </div>
      <div>
        <input type="submit" value="Cadastrar produto">
        <input type="reset" value="Cancelar">
      </div>
    </form>
  </main>
</body>

</html>