header {
  border-bottom: 1px solid black;
  background-color: #323639;
}

header a {
  border-bottom: 2px solid transparent;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 24px 16px;
  font-size: 16px;
  border-left: solid 1px black;
  font-family: sans-serif;
}

header a:hover {
  border-bottom: 2px solid #ff1500;
}

/* header div {
  display: inline-block; */
/* } */

/* header a:hover{
  background-color: blue; */

/* }fica azul na hora que passa o mouse */
